{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Level Run Info</legend>
            <div class="form-group">
                {{ form.static_obstacle.label(class="form-control-label") }}
                {% if form.static_obstacle.errors %}
                {{ form.static_obstacle(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.static_obstacle.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.static_obstacle(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.power_up.label(class="form-control-label") }}
                {% if form.power_up.errors %}
                {{ form.power_up(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.power_up.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.power_up(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dynamic_obstacle.label(class="form-control-label") }}
                {% if form.dynamic_obstacle.errors %}
                {{ form.dynamic_obstacle(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.dynamic_obstacle.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.dynamic_obstacle(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.max_time.label(class="form-control-label") }}
                {% if form.max_time.errors %}
                {{ form.max_time(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.max_time.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.max_time(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.lives.label(class="form-control-label") }}
                {% if form.lives.errors %}
                {{ form.lives(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lives.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lives(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}